<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shupro.oa.admin.dao.SysDictionaryMapper" >
  	<resultMap id="BaseResultMap" type="com.shupro.oa.admin.model.SysDictionary" >
		<id column="id" property="id"/>
		<result column="pid" property="pid"/>
		<result column="typeCode" property="typeCode"/>
		<result column="name" property="name"/>
		<result column="value" property="value"/>
		<result column="descs" property="descs"/>
		<result column="state" property="state"/>
		<result column="sotid" property="sotid"/>
	</resultMap>
       
	<sql id="Base_Column_List" >
		 id,pid,typeCode,name,value,descs,state,sotid
	</sql>
   
	<!-- 动态分页查询条件 -->
	<sql id="Page_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null and id != '' ">
		    and id = #{id}
		</if>
		<if test="pid != null and pid != '' ">
		    and pid = #{pid}
		</if>
		<if test="typeCode != null and typeCode != '' ">
		    and typeCode = #{typeCode}
		</if>
		<if test="name != null and name != '' ">
		    and name = #{name}
		</if>
		<if test="value != null and value != '' ">
		    and value = #{value}
		</if>
		<if test="descs != null and descs != '' ">
		    and descs = #{descs}
		</if>
		<if test="state != null and state != '' ">
		    and state = #{state}
		</if>
		<if test="sotid != null and sotid != '' ">
		    and sotid = #{sotid}
		</if>
	
	</trim>
	</sql>
	
	<!-- 动态条件查询条件 -->
	<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null and id != '' ">
		    and id = #{id}
		</if>
		<if test="pid != null and pid != '' ">
		    and pid = #{pid}
		</if>
		<if test="typeCode != null and typeCode != '' ">
		    and typeCode = #{typeCode}
		</if>
		<if test="name != null and name != '' ">
		    and name = #{name}
		</if>
		<if test="value != null and value != '' ">
		    and value = #{value}
		</if>
		<if test="descs != null and descs != '' ">
		    and descs = #{descs}
		</if>
		<if test="state != null and state != '' ">
		    and state = #{state}
		</if>
		<if test="sotid != null and sotid != '' ">
		    and sotid = #{sotid}
		</if>
	
	</trim>
	</sql>
 
	<!-- 根据id查询  -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> 
		from sys_dictionary
		where id = #{id}
	</select>

	<!-- 分页查询所有(条件查询也能使用这个,不过为了解决翻译列表时的麻烦) -->
	<select id="selectAll4Page" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_dictionary
		<include refid="Page_Where_Clause"/>
	</select>

	<!-- 条件查询所有 -->
	<select id="selectAllByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_dictionary
		<include refid="Example_Where_Clause"/>
	</select>
   
	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.shupro.oa.admin.model.SysDictionary" >
	  	insert into sys_dictionary(id,pid,typeCode,name,value,descs,state,sotid)
		 values(#{id},#{pid},#{typeCode},#{name},#{value},#{descs},#{state},#{sotid})
	</insert>

	<!-- 根据id，修改state(逻辑删除)-->  
	 <update id="updateStateByIds" parameterType="java.lang.Integer" >
	  	update sys_dictionary set state='0' where id in
	  	<foreach collection="array" item="id" open="(" close=")" separator=",">  
			#{id}
		</foreach>
	 </update>
	 
	<!-- 根据id，修改记录-->  
	 <update id="update" parameterType="com.shupro.oa.admin.model.SysDictionary" >
	  	update sys_dictionary set pid=#{pid},typeCode=#{typeCode},name=#{name},value=#{value},descs=#{descs},state=#{state},sotid=#{sotid}
		where id=#{id}
	 </update>
 
	 <!-- 动态修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.shupro.oa.admin.model.SysDictionary" >
		update sys_dictionary set 
		<trim  suffixOverrides="," >
			<if test="pid != null  ">
				pid=#{pid},
			</if>
			<if test="typeCode != null and typeCode != '' ">
				typeCode=#{typeCode},
			</if>
			<if test="name != null and name != '' ">
				name=#{name},
			</if>
			<if test="value != null and value != '' ">
				value=#{value},
			</if>
			<if test="descs != null and descs != '' ">
				descs=#{descs},
			</if>
			<if test="state != null and state != '' ">
				state=#{state},
			</if>
			<if test="sotid != null  ">
				sotid=#{sotid},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="deleteById" parameterType="com.shupro.oa.admin.model.SysDictionary" >
		delete from sys_dictionary where id = #{id}
	</delete>
  	  	  	  	  	
	<!-- 批量删除记录 -->
	<delete id="deleteByIds" parameterType="java.lang.Integer" >
		delete from sys_dictionary where id in 
		<foreach collection="array" item="id" open="(" close=")" separator=",">  
			#{id}
		</foreach>
	</delete>
	
</mapper>
