<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shupro.oa.admin.dao.SysLogMapper" >
  	<resultMap id="BaseResultMap" type="com.shupro.oa.admin.model.SysLog" >
		<id column="id" property="id"/>
		<result column="loginName" property="loginName"/>
		<result column="roleName" property="roleName"/>
		<result column="content" property="content"/>
		<result column="clientIp" property="clientIp"/>
		<result column="createtime" property="createtime"/>
	</resultMap>
       
	<sql id="Base_Column_List" >
		 id,loginName,roleName,content,clientIp,createtime
	</sql>
   
	<!-- 动态分页查询条件 -->
	<sql id="Page_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null and id != '' ">
		    and id = #{id}
		</if>
		<if test="loginName != null and loginName != '' ">
		    and loginName = #{loginName}
		</if>
		<if test="roleName != null and roleName != '' ">
		    and roleName = #{roleName}
		</if>
		<if test="content != null and content != '' ">
		    and content = #{content}
		</if>
		<if test="clientIp != null and clientIp != '' ">
		    and clientIp = #{clientIp}
		</if>
		<if test="createtime != null and createtime != '' ">
		    and createtime = #{createtime}
		</if>
	
	</trim>
	</sql>
	
	<!-- 动态条件查询条件 -->
	<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null and id != '' ">
		    and id = #{id}
		</if>
		<if test="loginName != null and loginName != '' ">
		    and loginName = #{loginName}
		</if>
		<if test="roleName != null and roleName != '' ">
		    and roleName = #{roleName}
		</if>
		<if test="content != null and content != '' ">
		    and content = #{content}
		</if>
		<if test="clientIp != null and clientIp != '' ">
		    and clientIp = #{clientIp}
		</if>
		<if test="createtime != null and createtime != '' ">
		    and createtime = #{createtime}
		</if>
	
	</trim>
	</sql>
 
	<!-- 根据id查询  -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> 
		from sys_log
		where id = #{id}
	</select>

	<!-- 分页查询所有(条件查询也能使用这个,不过为了解决翻译列表时的麻烦) -->
	<select id="selectAll4Page" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_log
		<include refid="Page_Where_Clause"/>
	</select>

	<!-- 条件查询所有 -->
	<select id="selectAllByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_log
		<include refid="Example_Where_Clause"/>
	</select>
   
	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.shupro.oa.admin.model.SysLog" >
	  	insert into sys_log(id,loginName,roleName,content,clientIp,createtime)
		 values(#{id},#{loginName},#{roleName},#{content},#{clientIp},#{createtime})
	</insert>

	<!-- 根据id，修改记录-->  
	 <update id="update" parameterType="com.shupro.oa.admin.model.SysLog" >
	  	update sys_log set loginName=#{loginName},roleName=#{roleName},content=#{content},clientIp=#{clientIp},
		where id=#{id}
	 </update>
 
	 <!-- 动态修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.shupro.oa.admin.model.SysLog" >
		update sys_log set 
		<trim  suffixOverrides="," >
			<if test="loginName != null and loginName != '' ">
				loginName=#{loginName},
			</if>
			<if test="roleName != null and roleName != '' ">
				roleName=#{roleName},
			</if>
			<if test="content != null and content != '' ">
				content=#{content},
			</if>
			<if test="clientIp != null and clientIp != '' ">
				clientIp=#{clientIp},
			</if>
			<if test="createtime != null  ">
				createtime=#{createtime},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="deleteById" parameterType="com.shupro.oa.admin.model.SysLog" >
		delete from sys_log where id = #{id}
	</delete>
  	  	  	  	
	<!-- 批量删除记录 -->
	<delete id="deleteByIds" parameterType="java.lang.Integer" >
		delete from sys_log where id in 
		<foreach collection="array" item="id" open="(" close=")" separator=",">  
			#{id}
		</foreach>
	</delete>
	
</mapper>
